<!-- left column content -->
<p class="company-title text-primary">Cowell<br/>Technical<br/>Training</p>
<img alt="Chris Cowell on a bench"
     src="assets/img/chris-on-bench-260px.jpg"
     width="280px;"/>
<p class="tagline">{{ site.tagline }}</p>

<div class="card"
     style="width: 280px;">
    <span class="border border-dark">
        <div class="card-body contact text-primary">
            <img alt="email envelope"
                 src="assets/icons/envelope.svg"
                 width="18pt;"/>
                    christopher.w.cowell@gmail.com<br/>
            <img alt="phone"
                 src="assets/icons/phone.svg"
                 width="18pt;">
                    503-309-2716
        </div>
    </span>
</div>
