<!-- left column content -->
<p class="company-title-1 text-primary">Chris Cowell</p>
<p class="company-title-2">Technical Trainer</p>

<img alt="Chris Cowell on a bench"
     src="/assets/img/chris-on-bench-260px.jpg"
     width="280px;"/>

<p class="tagline">{{ site.tagline }}</p>

<div class="card"
     style="width: 280px;">
    <span class="border border-dark">
        <div class="card-body contact text-primary">
            <img alt="email envelope"
                 src="/assets/icons/envelope.svg"
                 width="20pt;"/>
                    christopher.w.cowell@gmail.com<br/>
            <img alt="phone"
                 src="/assets/icons/phone.svg"
                 width="20pt;">
                    503-309-2716
        </div>
    </span>
</div>
