<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

    <!-- my custom CSS -->
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">

    <title>Cowell Technical Training</title>
</head>

<!-- static top nav bar -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <nav class="navbar fixed-top navbar-expand-lg navbar-light"
                     style="background-color: lightgray;">
                    <button class="navbar-toggler"
                            data-target="#navbarNavAltMarkup"
                            data-toggle="collapse"
                            type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link active" href="/services.html">Services</a>
                        <a class="nav-item nav-link" href="/topics.html">Topics</a>
                        <a class="nav-item nav-link" href="/approach.html">Approach</a>
                        <a class="nav-item nav-link" href="/scenarios.html">Scenarios</a>
                        <a class="nav-item nav-link" href="/pricing.html">Pricing</a>
                        <a class="nav-item nav-link" href="/testimonials.html">Testimonials</a>
                        <a class="nav-item nav-link" href="/blog.html">Blog</a>
                        <a class="nav-item nav-link" href="/about.html">About</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<body style="padding-top: 80px;">
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <p class="company-title">Cowell<br/>Technical<br/>Training</p>
            <img alt="Chris Cowell on a bench" src="assets/img/chris-on-bench-260px.jpg"/>
            <p class="tagline">Painless technical training
                <br/>
                for less-technical people</p>
            <div class="card" style="width: 260px;">
                <span class="border border-primary">
                <div class="card-body contact">
                    <img src="assets/icons/envelope.svg" width="20pt;"/>&nbsp;hello@cowelltech.com
                    <br/>
                    <img src="assets/icons/phone.svg" width="20pt;"/>&nbsp;503-309-2716
                </div>
                </span>
            </div>
        </div>
        <div class="col-lg-8">
            {{content}}
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
